body {
    margin: 0;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #F2F600;

}

h1 {
    margin: 0;
    text-align: center;
    padding: none;
    display: inline-block;
    margin-left: 4vh;
}
#icone {
    height: 8vh;
    width: 8vh;
    float: right;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 1vh;
}

#seta{
    height: 5vh;
    width: 5vh;
    display: inline-block;

    background-color: rgba(255, 255, 255, 0);

  margin-top: 2.5vh;
}

p {
    font-size: 25px;

    margin-bottom: 0px;

    margin-top: 20px;

}

input {

    height: 150px;
    width: 300px;


    background-color: rgb(216, 216, 216);

    border: none;

    font-size: 27px;
    margin-bottom: 0px;

}

div {
    margin-top: 0px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



    background-color: rgba(0, 136, 255, 0);
    width: 350px;
}

div>input {
    margin-left: 25px;
}

div>p {
    margin-left: 27px;
}

#input2 {
    width: 130px;
    height: 60px;
    
    top: 85px;
    margin-top: calc(-10vh + 80px);
    margin-left: calc(50% - 10.5vh)
}

#p2 {
    text-align: center;
    margin-left: -5vw;
    margin-top: 10vh;
}